<div class="interactive-wrapper">
	
	<div class="nfl-wrappers">
		<div class="nfl-standfirst">Of the <span id="nfl-standfirst-total">XX</span> NFL broadcasters in 2018 <span id="nfl-standfirst-black">XX</span> were black Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam imperdiet orci eros. Maecenas nunc nisl, hendrerit in dolor at, tempor feugiat ipsum.</div>

		<div id="nfl-graphics">
			<div id="all-broadcasters" class="nfl-wrapper">
			</div>

			<div id="small-multiples" class="nfl-wrapper">
				<div id="analyst-wrapper" class='small-multiple-wrapper'></div>
				<div id="pbp-wraper" class='small-multiple-wrapper'></div>
				<div id="sideline-wrapper" class='small-multiple-wrapper'></div>
			</div>

			<div id="nfl-tooltip"class='tooltip'>
				<div class="tooltip-close-button">
					<svg class="icon-cancel" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 30 30">
			        <path d="m 8.2646211,7.64 -0.985372,0.992 6.8996289,7.5523 7.720992,6.739 0.821373,-0.8267 -6.899628,-7.5524 -7.5569939,-6.9042" fill="#767676"></path>
			        <path d="m 7.2792491,21.64 0.985372,0.9854 7.5569939,-6.8977 6.899628,-7.5523 -0.985381,-0.992 -7.556984,6.9042 -6.8996289,7.5524" fill="#767676"></path>
			      </svg>
				</div>
				<div id="tooltip-name" class="tooltip-line"></div>
				<div id="tooltip-ethnicity" class="tooltip-line"></div>
				<div id="tooltip-role" class="tooltip-line"></div>
				<div id="tooltip-network" class="tooltip-line"></div>
			</div>
		</div>
		
		
	</div>
	
</div>