<div class="interactive-wrapper">
	
	<div class="nfl-wrappers">
		<div class="nfl-standfirst">Of the <span id="nfl-standfirst-total">251 national and regional NFL broadcasters</span> for the 2018 season, <span id="nfl-standfirst-black">19 per cent of them were black</span>. And in a league where black players make up more than two thirds of the player body, black former players make up less than a third of the broadcast</div>

		<div id="nfl-graphics">
			<div id="all-broadcasters" class="nfl-wrapper">
			</div>

			<div id="small-multiples" class="nfl-wrapper">
				<div id="analyst-wrapper" class='small-multiple-wrapper'></div>
				<div id="pbp-wrapper" class='small-multiple-wrapper'></div>
				<div id="sideline-wrapper" class='small-multiple-wrapper'></div>
			</div>

			<div id="nfl-tooltip"class='tooltip'>
				<div id="tooltip-name" class="tooltip-line"></div>
			</div>

			
		</div>

		
		
		
	</div>
	
</div>