@import "mq";
@import "fonts";
@import "palette";
// Uncomment for embeds
//@import "embed";
// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";

.element.element-atom,
.interactive.interactive-atom{
  margin-left: 0px !important;

  margin-bottom: 20px !important;

    @include mq(desktop){
      margin-left: 0px !important;
    }
    @include mq(leftCol) {
      margin-left: 40px !important;
    }
    @include mq(wide) {
      margin-left: 60px !important;
    }
}


.nfl-standfirst {
  @include fs-headline(3);
  font-weight: 200;
  max-width: 280px;

  @include mq(tablet) {
    max-width: 480px;
    font-size: 22px;
    line-height: 25px;
  }

  margin-bottom: 12px;
}
.nfl-standfirst span{
  @include fs-headline(3);
  font-weight: 800;
}

#nfl-standfirst-total{
  color: #333;
}

#nfl-standfirst-black{
  color: #C70000;
}

.Yes{
  fill:#C70000;
}

.No{
  fill:#dadada;
}

#nfl-tooltip{
  position:absolute;
}

#nfl-graphics{

  display: flex;

  @include mq(mobile){
      flex-direction: column;
    }


  @include mq(desktop){
      flex-direction: row;
    }
}

#small-multiples{

  display: flex;

  @include mq(mobile) {
    flex-direction: column;
    align-self:flex-start;
  }
  
  @include mq(tablet) {
    flex-direction: row;
    align-self:flex-start;
  }

  @include mq(desktop) {
    flex-direction: row;
    align-self:flex-end;
  }
}

#all-broadcasters{
  @include mq(mobile) {
    margin-bottom: 20px
  }
  @include mq(desktop) {
    margin-bottom: 0px
  }
}

.small-multiple-wrapper{
  margin: 0 20px 0 0;

  @include mq(mobile) {
    margin-bottom: 20px
  }
  @include mq(desktop) {
    margin-bottom: 0px
  }
}

#nfl-tooltip{
  position:absolute;
}