@import "mq";
@import "fonts";
@import "palette";
// Uncomment for embeds
//@import "embed";
// Uncomment for full screen (including immersive article main media)
//@import "fullscreen";

.element.element-atom,
.interactive.interactive-atom{
  margin-left: 0px !important;

  margin-bottom: 20px !important;

    @include mq(desktop){
      margin-left: 0px !important;
    }
    @include mq(leftCol) {
      margin-left: 40px !important;
    }
    @include mq(wide) {
      margin-left: 60px !important;
    }
}


.nfl-standfirst {
  @include fs-headline(3);
  font-weight: 200;
  max-width: 280px;

  @include mq(tablet) {
    max-width: 480px;
    font-size: 22px;
    line-height: 25px;
  }

  margin-bottom: 12px;
}
.nfl-standfirst span{
  @include fs-headline(3);
  font-weight: 800;
}

#nfl-standfirst-total{
  color: #333;
}

#nfl-standfirst-black, #nfl-bold-black{
  color: #C70000;
}

#nfl-bold-black{
  font-weight: 800;
}

#nfl-bold{
  font-weight: 800;
}


.Yes{
  fill:#C70000;
}

.No{
  fill:#dadada;
}

#nfl-tooltip{
  position:absolute;
}

#nfl-graphics{
  display: flex;
  position: relative;

  @include mq(mobile){
      flex-direction: column;
    }


  @include mq(desktop){
      flex-direction: row;
    }
}

#small-multiples{

  display: flex;

  @include mq(mobile) {
    flex-direction: column;
    align-self:flex-start;
  }
  
  @include mq(tablet) {
    flex-direction: row;
    align-self:flex-start;
  }

  @include mq(desktop) {
    flex-direction: row;
    align-self:flex-end;
  }
}

#all-broadcasters{
  margin-right: 20px;
  @include mq(mobile) {
    margin-bottom: 20px
  }
  @include mq(desktop) {
    margin-bottom: 0px
  }
}

.small-multiple-wrapper{
  margin: 0 20px 0 0;

  @include mq(mobile) {
    margin-bottom: 20px
  }
  @include mq(desktop) {
    margin-bottom: 0px
  }
}

#nfl-tooltip{
  position:absolute;
}

.tooltip{
  min-width:100px;
  height:auto;
  padding:6px;
  position:absolute;
  z-index: 1011 !important;
  font-size: 12px;
  line-height: 16px;
  font-family: "Guardian Text Sans Web","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
  background: #fff;
  border: 1px solid #333;
  display: none;
  -webkit-flex-direction: column;
  flex-direction: column;
  color: #333333;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-top: 1px solid #333;
  box-shadow: 2px 2px 0 0 #333;

  &.over{
    display: flex;
  }
}